.heading {
 font-family: 'Londrina Solid', cursive;
 text-transform: uppercase;
 font-size: 50px;
 text-align: center;
 margin: 0;
}
.instructionsContainer {
 display: flex;
 justify-content: center;
}

.instructions {
 text-align: center;
 font-family: 'Roboto', sans-serif;
 font-weight: 100;
 width: 600px;
 margin: 5px;
}

.gridContainer {
 display: flex;
 width: 100%;
 justify-content: center;
}

.grid {
 border: 1px solid black;
 width: 600px;
 height: 600px;
 grid-template-columns: repeat(11, 1fr);
 display: grid;
}

.shipsContianer {
 width: 200px;
 height: 600px;
 border: 1px solid black;
 margin-left: 20px;
}

.square {
 border: 1px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
}

.sea {
 background-image: url('./sea.gif');
 background-size: 160%;
 background-position: 0% 100%;
}

.right {
 transform: rotate(180deg);
}

.up {
 transform: rotate(90deg);
}

.down {
 transform: rotate(270deg);
}

.right::after, .left::after, .up::after, .down::after {
 content: '';
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-right: 30px solid #182b32;
 position: absolute;
}

.middle::after, .circle::after {
 content: '';
 background-color: #182b32;
 width: 30px;
 height: 30px;
 position: absolute;
}

.circle::after {
 border-radius: 100%;
}

.flag {
 background-image: url('./flag.jpeg');
 background-size: cover;
}

.winnerMessage {
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.4);
 padding: 25%;
}

.innerWinnerMessage {
 background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hidden {
 display: none;
}


@media only screen and (max-width: 600px) {
  .gridContainer {
    flex-direction: column;
  }

  .grid {
   width: 300px;
   height: 300px;
  }

  .right::after, .left::after, .up::after, .down::after {
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 15px solid #182b32;
  }
 .middle::after, .circle::after {
  width: 15px;
  height: 15px;
 }
}
