.heading {
 font-family: 'Londrina Solid', cursive;
 text-transform: uppercase;
 font-size: 40px;
 text-align: center;
 margin: 0;
}
.instructionsContainer {
 display: flex;
 justify-content: center;
}

.instructions {
 text-align: center;
 font-family: 'Roboto', sans-serif;
 font-weight: 100;
 width: 600px;
 margin: 5px;
}

.gridContainer {
 display: flex;
 width: 100%;
 justify-content: center;
 align-items: center;
}

.grid {
 border: 1px solid #182b32;
 width: 600px;
 height: 600px;
 grid-template-columns: repeat(11, 1fr);
 display: grid;
 font-family: 'Londrina Solid', cursive;
 background-color: #182b32;
}

.shipLegend {
 width: 200px;
 height: 600px;
 border: 1px solid #182b32;
 margin-left: 20px;
 display: grid;
}

.square {
 border: 1px solid #182b32;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
}

.sea {
 background-image: url('./sea.gif');
 background-size: 160%;
 background-position: 0% 100%;
}

.right {
 transform: rotate(180deg);
}

.up {
 transform: rotate(90deg);
}

.down {
 transform: rotate(270deg);
}

.right::after, .left::after, .up::after, .down::after {
 content: '';
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-right: 30px solid #182b32;
 position: absolute;
}

.middle::after, .circle::after {
 content: '';
 background-color: #182b32;
 width: 30px;
 height: 30px;
 position: absolute;
}

.circle::after {
 border-radius: 100%;
}

.flag {
 background-image: url('./flag.jpeg');
 background-size: cover;
}

.endGameMessage {
 position: fixed;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.4);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 2;
}

.innerWinnerMessage, .innerLoserMessage {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.loserControls {
  display: flex;
  flex-direction: column;
}

.checkAnswerContainer {
  display: flex;
  justify-content: center;
}

.hidden {
 display: none;
}

.shipContainer {
  height: 60px;
  position: relative;
}

.ship {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  margin: 0 auto;
}

.ship > .square {
  border-style: none;
}

.cross {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.cross::before, .cross::after {
  content: '';
  width: 90%;
  background-color: #dc143c;
  position: absolute;
  height: 3px;
  transform-origin: center;
  top: 40%;
  left: 5%;
}

.cross::before {
  transform: rotate(10deg);
}

.cross::after {
  transform: rotate(-10deg);
}

.noCross.cross::before, .noCross.cross::after {
  background-color: transparent;
}

.genericButton {
    margin: 5px 0;
    display: block;
    border: 1px solid #182b32;
    padding: 0 60px;
    background-color: transparent;
    font-family: 'Londrina Solid', cursive;
    text-transform: uppercase;
    font-size: 30px;
}

.highlight {
  background-color: #D4AF37;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
  }
  
  .gridContainer {
    flex-direction: column;
  }

  .instructionsContainer {
    display: none;
  }

  .shipLegend {
    width: 300px;
    height: auto;
    border: none;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .cross {
    padding-top: 10px;
  }

  .grid {
   width: 300px;
   height: 300px;
  }

  .right::after, .left::after, .up::after, .down::after {
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 15px solid #182b32;
  }
 .middle::after, .circle::after {
  width: 15px;
  height: 15px;
 }
}
